target
**/*.rs.bk
.vscode/*.log
.aider*
.env
.idea
*.rlib

# Bazel artifacts
BUILD.bazel
WORKSPACE.bazel
bazel-*

# Emacs backups
*~

# Spurious file produced by intentionally failing integration test.
**/.test_comparator.rs.pending-snap
