[package]
name = "insta"
version = "1.6.3"
license = "Apache-2.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
description = "A snapshot testing library for Rust"
edition = "2018"
homepage = "https://insta.rs/"
repository = "https://github.com/mitsuhiko/insta"
keywords = ["snapshot", "testing", "jest", "approval"]
readme = "README.md"
exclude = [
    "assets/*"
]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["colors"]

# when the redactions feature is enabled values can be redacted in serialized
# snapshots.
redactions = ["pest", "pest_derive"]

# Glob support
glob = ["walkdir", "globset"]

# Color support
colors = ["console"]

# This feature is now just always enabled because we use yaml internally now.
serialization = []

[dependencies]
csv = { version = "1.1.4", optional = true }
serde = { version = "1.0.117", features = ["derive"] }
serde_yaml = "0.8.14"
console = { version = "0.14.0", optional = true, default-features = false }
serde_json = "1.0.59"
lazy_static = "1.4.0"
pest = { version = "2.1.3", optional = true }
pest_derive = { version = "2.1.0", optional = true }
ron = { version = "0.6.2", optional = true }
backtrace = { version = "0.3.55", optional = true }
toml = { version = "0.5.7", optional = true }
globset = { version = "0.4.6", optional = true }
walkdir = { version = "2.3.1", optional = true }
uuid = "0.8.1"
similar = { version = "1.3.0", features = ["inline"] }

[dev-dependencies]
similar-asserts = "1.1.0"
