[package]
name = "insta"
version = "1.17.1"
license = "Apache-2.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
description = "A snapshot testing library for Rust"
edition = "2018"
rust-version = "1.56.1"
homepage = "https://insta.rs/"
repository = "https://github.com/mitsuhiko/insta"
keywords = ["snapshot", "testing", "jest", "approval"]
readme = "README.md"
exclude = [
    "assets/*"
]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["colors"]

# when the redactions feature is enabled values can be redacted in serialized
# snapshots.
redactions = ["pest", "pest_derive"]

# Enables support for running filters on snapshot
filters = ["regex"]

# Glob support
glob = ["walkdir", "globset"]

# Color support
colors = ["console"]

# This feature is now just always enabled because we use yaml internally now.
serialization = []

# This feature is no longer used as snapshot name detection was changed.
backtrace = []

[dependencies]
csv = { version = "1.1.4", optional = true }
serde = { version = "1.0.117", features = ["derive"] }
serde_yaml = "0.8.26"
console = { version = "0.15.1", optional = true, default-features = false }
serde_json = "1.0.59"
pest = { version = "2.1.3", optional = true }
pest_derive = { version = "2.1.0", optional = true }
ron = { version = "0.7.1", optional = true }
toml = { version = "0.5.7", optional = true }
globset = { version = "0.4.6", optional = true }
walkdir = { version = "2.3.1", optional = true }
similar = { version = "2.1.0", features = ["inline"] }
once_cell = "1.9.0"
regex = { version = "1.6.0", default-features = false, optional = true, features = ["std", "unicode"] }

[dev-dependencies]
similar-asserts = "1.4.2"
