[package]
name = "cargo-insta"
version = "0.7.2"
license = "Apache-2.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
description = "A review tool for the insta snapshot testing library for Rust"
homepage = "https://github.com/mitsuhiko/insta"
repository = "https://github.com/mitsuhiko/insta"
keywords = ["snapshot", "testing", "jest"]
edition = "2018"
readme = "README.md"

[dependencies]
insta = { version = "0.7.2", path = ".." }
console = "0.7.5"
clap = "2.32.0"
difference = "2.0.0"
structopt = "0.2.14"
serde = { version = "1.0.85", features = ["derive"] }
serde_json = "1.0.36"
failure = "0.1.5"
glob = "0.2.11"
walkdir = "2.2.7"
proc-macro2 = { version = "0.4.27", features = ["span-locations"] }
syn = { version = "0.15.26", features = ["full"] }
