[package]
name = "cargo-insta"
version = "0.16.1"
license = "Apache-2.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
description = "A review tool for the insta snapshot testing library for Rust"
homepage = "https://github.com/mitsuhiko/insta"
repository = "https://github.com/mitsuhiko/insta"
keywords = ["snapshot", "testing", "jest"]
edition = "2018"
readme = "README.md"

[dependencies]
insta = { version = "0.16.1", path = "..", features = ["redactions"] }
console = "0.11.0"
clap = "2.33.0"
difference = "2.0.0"
structopt = "0.3.3"
serde = { version = "1.0.101", features = ["derive"] }
serde_json = "1.0.41"
glob = "0.3.0"
walkdir = "2.2.9"
proc-macro2 = { version = "1.0.6", features = ["span-locations"] }
syn = { version = "1.0.5", features = ["full", "visit", "extra-traits"] }
