[package]
name = "cargo-insta"
version = "1.11.0"
license = "Apache-2.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
description = "A review tool for the insta snapshot testing library for Rust"
homepage = "https://insta.rs/"
repository = "https://github.com/mitsuhiko/insta"
documentation = "https://insta.rs/docs/cli/"
keywords = ["snapshot", "testing", "jest"]
edition = "2018"
readme = "README.md"

[dependencies]
insta = { version = "1.11.0", path = "..", features = ["redactions"] }
console = "0.15.0"
structopt = "0.3.20"
serde = { version = "1.0.117", features = ["derive"] }
serde_json = "1.0.59"
proc-macro2 = { version = "1.0.24", features = ["span-locations"] }
syn = { version = "1.0.50", features = ["full", "visit", "extra-traits"] }
ignore = "0.4.17"
uuid = { version = "0.8.1", features = ["v4"] }
