[package]
name = "cargo-insta"
version = "1.3.0"
license = "Apache-2.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
description = "A review tool for the insta snapshot testing library for Rust"
homepage = "https://github.com/mitsuhiko/insta"
repository = "https://github.com/mitsuhiko/insta"
keywords = ["snapshot", "testing", "jest"]
edition = "2018"
readme = "README.md"

[dependencies]
insta = { version = "1.3.0", path = "..", features = ["redactions"] }
console = "0.13.0"
clap = { version = "2.33.3", default-features = false }
difference = "2.0.0"
structopt = "0.3.20"
serde = { version = "1.0.117", features = ["derive"] }
serde_json = "1.0.59"
glob = "0.3.0"
walkdir = "2.3.1"
proc-macro2 = { version = "1.0.24", features = ["span-locations"] }
syn = { version = "1.0.50", features = ["full", "visit", "extra-traits"] }
